PORT=4000
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=
JUDGE0_API_URL=https://ce.judge0.com/submissions
JUDGE0_API_KEY=
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
JUDGE0_REQUEST_TIMEOUT_MS=7000
SAVE_DEBOUNCE_MS=500
